# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.bak
*.swp
*.tmp
*.temp
*.log
*.orig
*.sublime-project
*.sublime-workspace

# VS Code
.vscode/